<!DOCTYPE HTML>
<html>
<head>
	<title>ShotGame</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!-- <script type="text/javascript" src="main.js"></script> -->
    <script type="text/javascript">
        //変数定義
        mp = null;
        kycode = null;
        xx=0; //自機x座標
        //yy=270; //自機y座標
        sizesize=20; //自機大きさ
        lef=0; //左矢印押下フラグ
        rig=0; //右矢印押下フラグ
        spa=0; //スペース押下フラグ
        scool=0; //自弾クールダウン
        enhass=0; //敵機出現間隔
        cnt=0; //経過時間
        gameover=0; //ゲームオーバーフラグ
        sco=0; //スコア
        lev=0; //レベル

        movespeed=3 //変更　移動速度
        myhp=0; //変更　自機のHP
        up=0; //変更 上矢印押下フラグ
        down=0; //変更 下矢印押下フラグ
        yy=0; //変更 自機y座標
        enemyinterval="{{.status.EnmCool}}"; //変更 敵出現間隔変更用間隔(100)
        mydamage="{{.status.Damage}}"; //変更 自機の弾のダメージ(1)
        enemydamage=1; //変更 敵のダメージ
        ups="{{.status.Score}}"; //変更 スコアのアップ幅(1)
        upsco=ups*1 // テンプレート機能の変数そのままだと整数だとうまく判定してくれなかっため無理やり
        scoolconst="{{.status.ShotSpeed}}"; //変更 クールタイムの追加数 小さいほど連射up(20)

        // msx=[-1,-1,-1]; //自弾x座標
        // msy=[-1,-1,-1]; //自弾y座標
        // msmax=3; //自弾最大
        // mssize=5; //自弾サイズ
        // 変更 したよっつ
        umsx=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾x座標
        umsy=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾y座標
        umsmax=25; //自弾最大
        lmsx=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾x座標
        lmsy=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾y座標
        lmsmax=25; //自弾最大
        rmsx=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾x座標
        rmsy=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾y座標
        rmsmax=25; //自弾最大
        dmsx=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾x座標
        dmsy=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾y座標
        dmsmax=25; //自弾最大
        urmsx=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾x座標
        urmsy=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾y座標
        urmsmax=25; //自弾最大
        ulmsx=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾x座標
        ulmsy=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾y座標
        ulmsmax=25; //自弾最大
        drmsx=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾x座標
        drmsy=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾y座標
        drmsmax=25; //自弾最大
        dlmsx=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾x座標
        dlmsy=[-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1]; //自弾y座標
        dlmsmax=25; //自弾最大
        mssize=5; //自弾サイズ

        leftatt="{{.att.左アタッチメント}}";
        rightatt="{{.att.右アタッチメント}}";
        downatt="{{.att.下アタッチメント}}";
        upleftatt="{{.att.左上アタッチメント}}";
        uprightatt="{{.att.右上アタッチメント}}";
        downleftatt="{{.att.左下アタッチメント}}";
        downrightat="{{.att.右下アタッチメント}}";

        enx=[]; //敵機x座標
        eny=[]; //敵機y座標
        ent=[]; //敵機体力
        ensize=20; //敵機大きさ
        enmax=2000; //敵機最大

        entmax=10;  //初期の敵体力最大値

        //敵機配列作成
        for(var i=0;i<enmax;i++){
            enx.push(-1);
            eny.push(-1);
            ent.push(-1);
        }

        //jsが読み込まれたときに実行される
        function ldstart()
        {
            //キャンバス情報を保持する
            let canvas = document.getElementById('canvas_e');
            let ctx    = canvas.getContext('2d');
            mp = new MainPanel(canvas, ctx);
            //リスタートボタン非表示
            document.getElementById('rstart').style.display = "none";
            //コインゲットボタン非表示
            document.getElementById('coinget').style.display = "none";
        }

        //スタートボタン押下時に実行される
        function clstart()
        {
            //スタートボタン非表示
            document.getElementById('start').style.display = "none";
            //キャンパスをクリアする
            mp.ctx.clearRect(0, 0, mp.canvas.width, mp.canvas.height);
            //初期化処理
            ini();
            //メインループ実行
            main();
        }

        //リスタートボタン押下時に実行される
        function rclstart()
        {
            //リスタートボタン非表示
            document.getElementById('rstart').style.display = "none";
            //コインゲットボタン非表示
            document.getElementById('coinget').style.display = "none";
            //キャンパスをクリアする
            mp.ctx.clearRect(0, 0, mp.canvas.width, mp.canvas.height);
            //初期化処理
            ini();
            //メインループ実行
            main();
        }

        //キャンパス情報を保持する
        function MainPanel(canvas, ctx)
        {
            this.canvas = canvas;
            this.ctx    = ctx;
            return this;
        }

        //キー押下時処理
        //downでture、upでfalseにするため、押下中はフラグは常にtrueになる
        document.onkeydown = function(e) {
            var keyCode = false;

            if (e) event = e;

            if (event) {
                if (event.keyCode) {
                    keyCode = event.keyCode;
                } else if (event.which) {
                    keyCode = event.which;
                }
            }

            kycode=keyCode;
            //左矢印
            if(keyCode==37) lef=1;
            //右矢印
            if(keyCode==39) rig=1;
            //上矢印
            if(keyCode==38) up=1;
            //下矢印
            if(keyCode==40) down=1;
            //スペース
            if(keyCode==32) spa=1;
        };

        //キーを離したときの処理
        document.onkeyup = function(e) {
            var keyCode = false;

            if (e) event = e;

            if (event) {
                if (event.keyCode) {
                    keyCode = event.keyCode;
                } else if (event.which) {
                    keyCode = event.which;
                }
            }

            kycode=keyCode;
            if(keyCode==37) lef=0;
            if(keyCode==39) rig=0;
            if(keyCode==38) up=0;
            if(keyCode==40) down=0;
            if(keyCode==32) spa=0;
        };

        //初期化処理
        function ini(){
            xx = 200;
            lef=0;
            rig=0;
            spa=0;
            scool=0;
            for(var i=0;i<enmax;i++){
                enx[i]=-1;
                eny[i]=-1;
                ent[i]=-1;
            }
            enhass=50;
            cnt=0;
            gameover=0;
            sco=0;
            lev=1;

            myhp="{{.status.Hp}}"; //変更
            yy=270; //変更
            up=0; //変更
            down=0; //変更
        }

        //描画処理
        function draw() {
            //キャンパスをクリアする
            mp.ctx.clearRect(0, 0, mp.canvas.width, mp.canvas.height);
            //水色
            mp.ctx.fillStyle = "rgb(0, 255, 255)";
            mp.ctx.fillRect(xx,yy,sizesize,sizesize); //自機
            //緑
            mp.ctx.fillStyle = "rgb(0, 255, 0)";
            // for(var i=0;i<msmax;i++){
            for(var i=0;i<umsmax;i++){
                // if(msx[i]!=-1){
                if(umsx[i]!=-1){
                    // mp.ctx.fillRect(msx[i],msy[i],mssize,mssize); //自弾
                    mp.ctx.fillRect(umsx[i],umsy[i],mssize,mssize); //自弾
                }
            }
            for(var i=0;i<lmsmax;i++){
                if(lmsx[i]!=-1){
                    mp.ctx.fillRect(lmsx[i],lmsy[i],mssize,mssize); //自弾
                }
            }
            for(var i=0;i<rmsmax;i++){
                if(rmsx[i]!=-1){
                    mp.ctx.fillRect(rmsx[i],rmsy[i],mssize,mssize); //自弾
                }
            }
            for(var i=0;i<dmsmax;i++){
                if(dmsx[i]!=-1){
                    mp.ctx.fillRect(dmsx[i],dmsy[i],mssize,mssize); //自弾
                }
            }
            for(var i=0;i<urmsmax;i++){
                if(urmsx[i]!=-1){
                    mp.ctx.fillRect(urmsx[i],urmsy[i],mssize,mssize); //自弾
                }
            }
            for(var i=0;i<ulmsmax;i++){
                if(ulmsx[i]!=-1){
                    mp.ctx.fillRect(ulmsx[i],ulmsy[i],mssize,mssize); //自弾
                }
            }
            for(var i=0;i<drmsmax;i++){
                if(drmsx[i]!=-1){
                    mp.ctx.fillRect(drmsx[i],drmsy[i],mssize,mssize); //自弾
                }
            }
            for(var i=0;i<dlmsmax;i++){
                if(dlmsx[i]!=-1){
                    mp.ctx.fillRect(dlmsx[i],dlmsy[i],mssize,mssize); //自弾
                }
            }
            for(var i=0;i<enmax;i++){
                if(enx[i]!=-1){
                    mp.ctx.fillStyle = "rgb("+String(ent[i]*255/5)+", 0, 0)"; //敵機の体力によって色を変える
                    mp.ctx.fillRect(enx[i],eny[i],ensize,ensize); //敵機
                }
            }
            //黒
            mp.ctx.fillStyle = "rgb(0, 0, 0)";
            mp.ctx.strokeRect(0,0,400,300); //外枠
            //紫
            mp.ctx.fillStyle = "rgb(255, 0, 255)";
            //文字は15ptのMSゴシック
            mp.ctx.font = "15px 'ＭＳ ゴシック'";
            mp.ctx.fillText("count:"+String(cnt), 10, 20); //時間
            mp.ctx.fillText("score:"+String(sco), 10, 40); //スコア
            mp.ctx.fillText("level:"+String(lev), 10, 60); //レベル

            mp.ctx.fillText("HP:"+String(myhp),10,80); // 変更 HP表示
        }

        //自機移動処理
        function mymove(){
            //押した方向に移動
            if(lef==1) xx = xx - movespeed;
            if(rig==1) xx = xx + movespeed;
            if(up==1) yy = yy - movespeed; //変更
            if(down==1) yy = yy + movespeed; //変更
            //画面外なら補正
            if(xx<=0) xx=1;
            if(xx>=400-sizesize) xx=399-sizesize;

            if(yy<=0) yy=1; //変更
            if(yy>=300-sizesize) yy=299-sizesize; //変更
        }

        //自弾処理
        function myshot(){
            //クールタイム減少
            scool--;
            //押下中で、クールタイム中でないなら
            if(spa==1&&scool<0){
                //自弾データの中で使っていない所を探す
                //ないなら、発射上限のため発射しない
                // for(var i=0;i<msmax;i++){
                for(var i=0;i<umsmax;i++){
                    // if(msx[i]==-1){
                    if(umsx[i]==-1){
                        //発射
                        // msx[i]=xx+sizesize/2-mssize/2;
                        umsx[i]=xx+sizesize/2-mssize/2;
                        // msy[i]=yy-1;
                        umsy[i]=yy-1;
                        // scool=20;
                        scool= scoolconst; //変更
                        break;
                    }
                }
                if(leftatt==1){
                    for(var i=0;i<lmsmax;i++){
                        // if(msx[i]==-1){
                        if(lmsx[i]==-1){
                            //発射
                            // msx[i]=xx+sizesize/2-mssize/2;
                            lmsx[i]=xx+sizesize/2-mssize/2;
                            // msy[i]=yy-1;
                            lmsy[i]=yy-1;
                            // scool=20;
                            scool= scoolconst; //変更
                            break;
                        }
                    }
                }
                if(rightatt==1){
                    for(var i=0;i<rmsmax;i++){
                        // if(msx[i]==-1){
                        if(rmsx[i]==-1){
                            //発射
                            // msx[i]=xx+sizesize/2-mssize/2;
                            rmsx[i]=xx+sizesize/2-mssize/2;
                            // msy[i]=yy-1;
                            rmsy[i]=yy-1;
                            // scool=20;
                            scool= scoolconst; //変更
                            break;
                        }
                    }
                }
                if(downatt==1){
                    for(var i=0;i<dmsmax;i++){
                        // if(msx[i]==-1){
                        if(dmsx[i]==-1){
                            //発射
                            // msx[i]=xx+sizesize/2-mssize/2;
                            dmsx[i]=xx+sizesize/2-mssize/2;
                            // msy[i]=yy-1;
                            dmsy[i]=yy-1;
                            // scool=20;
                            scool= scoolconst; //変更
                            break;
                        }
                    }
                }
                if(uprightatt==1){
                    for(var i=0;i<urmsmax;i++){
                        // if(msx[i]==-1){
                        if(urmsx[i]==-1){
                            //発射
                            // msx[i]=xx+sizesize/2-mssize/2;
                            urmsx[i]=xx+sizesize/2-mssize/2;
                            // msy[i]=yy-1;
                            urmsy[i]=yy-1;
                            // scool=20;
                            scool= scoolconst; //変更
                            break;
                        }
                    }
                }
                if(upleftatt==1){
                    for(var i=0;i<ulmsmax;i++){
                        // if(msx[i]==-1){
                        if(ulmsx[i]==-1){
                            //発射
                            // msx[i]=xx+sizesize/2-mssize/2;
                            ulmsx[i]=xx+sizesize/2-mssize/2;
                            // msy[i]=yy-1;
                            ulmsy[i]=yy-1;
                            // scool=20;
                            scool= scoolconst; //変更
                            break;
                        }
                    }
                }
                if(downrightat==1){
                    for(var i=0;i<drmsmax;i++){
                        // if(msx[i]==-1){
                        if(drmsx[i]==-1){
                            //発射
                            // msx[i]=xx+sizesize/2-mssize/2;
                            drmsx[i]=xx+sizesize/2-mssize/2;
                            // msy[i]=yy-1;
                            drmsy[i]=yy-1;
                            // scool=20;
                            scool= scoolconst; //変更
                            break;
                        }
                    }
                }
                if(downleftatt==1){
                    for(var i=0;i<dlmsmax;i++){
                        // if(msx[i]==-1){
                        if(dlmsx[i]==-1){
                            //発射
                            // msx[i]=xx+sizesize/2-mssize/2;
                            dlmsx[i]=xx+sizesize/2-mssize/2;
                            // msy[i]=yy-1;
                            dlmsy[i]=yy-1;
                            // scool=20;
                            scool= scoolconst; //変更
                            break;
                        }
                    }
                }
            }
            //発射中の弾を進める
            // for(var i=0;i<msmax;i++){
            for(var i=0;i<umsmax;i++){
                // if(msx[i]!=-1){
                if(umsx[i]!=-1){
                    // msy[i]-=6;
                    umsy[i]-=6;
                }
                //画面外なら削除
                // if(msy[i]<-1){
                if(umsy[i]<-1){
                    // msy[i]=-1;
                    umsy[i]=-1;
                    // msx[i]=-1;
                    umsx[i]=-1;
                }
            }
            //発射中の弾を進める
            // for(var i=0;i<msmax;i++){
            if(leftatt==1){
                for(var i=0;i<lmsmax;i++){
                    if(lmsx[i]!=-1){
                        lmsx[i]-=6;
                    }
                    //画面外なら削除
                    if(lmsx[i]<-1){
                        lmsy[i]=-1;
                        lmsx[i]=-1;
                    }
                }
            }
            //発射中の弾を進める
            // for(var i=0;i<msmax;i++){
            if(rightatt==1){
                for(var i=0;i<rmsmax;i++){
                    if(rmsx[i]!=-1){
                        rmsx[i]+=6;
                    }
                    //画面外なら削除
                    if(rmsx[i]>300){
                        rmsy[i]=-1;
                        rmsx[i]=-1;
                    }
                }
            }
            //発射中の弾を進める
            // for(var i=0;i<msmax;i++){
            if(downatt==1){
                for(var i=0;i<dmsmax;i++){
                    if(dmsx[i]!=-1){
                        dmsy[i]+=6;
                    }
                    //画面外なら削除
                    if(dmsy[i]>400){
                        dmsy[i]=-1;
                        dmsx[i]=-1;
                    }
                }
            }
            //発射中の弾を進める
            // for(var i=0;i<msmax;i++){
            if(uprightatt==1){
                for(var i=0;i<urmsmax;i++){
                    if(urmsx[i]!=-1){
                        urmsx[i]+=3;
                        urmsy[i]-=3;
                    }
                    //画面外なら削除
                    if(urmsy[i]<-1){
                        urmsy[i]=-1;
                        urmsx[i]=-1;
                    }
                }
            }
            //発射中の弾を進める
            // for(var i=0;i<msmax;i++){
            if(upleftatt==1){
                for(var i=0;i<ulmsmax;i++){
                    if(ulmsx[i]!=-1){
                        ulmsx[i]-=3;
                        ulmsy[i]-=3;
                    }
                    //画面外なら削除
                    if(ulmsy[i]<-1){
                        ulmsy[i]=-1;
                        ulmsx[i]=-1;
                    }
                }
            }
            //発射中の弾を進める
            // for(var i=0;i<msmax;i++){
            if(downrightat==1){
                for(var i=0;i<drmsmax;i++){
                    if(drmsx[i]!=-1){
                        drmsx[i]+=3;
                        drmsy[i]+=3;
                    }
                    //画面外なら削除
                    if(drmsy[i]>400){
                        drmsy[i]=-1;
                        drmsx[i]=-1;
                    }
                }
            }
            //発射中の弾を進める
            // for(var i=0;i<msmax;i++){
            if(downleftatt==1){
                for(var i=0;i<dlmsmax;i++){
                    if(dlmsx[i]!=-1){
                        dlmsx[i]-=3;
                        dlmsy[i]+=3;
                    }
                    //画面外なら削除
                    if(dlmsy[i]>400){
                        dlmsy[i]=-1;
                        dlmsx[i]=-1;
                    }
                }
            }
        }

        //敵機移動
        function enmove(){
            // //時間が100経過するごとにレベルを上げる
            // if(cnt%100==0){
            //     //敵出現間隔を狭める
            //     enhass--;
            //     lev++;
            //     if(enhass==0) enhass=1;
            // }
            //変更 時間が経過するごとにレベルを上げる
            if(cnt%enemyinterval==0){
                //敵出現間隔を狭める
                enhass--;
                lev++;
                if(enhass==0) enhass=1;
            }
            //敵出現間隔ごとに敵機出現
            if(cnt%enhass==0){
                //未使用データを探す
                for(var i=0;i<enmax;i++){
                    if(enx[i]==-1){
                        //場所はランダム
                        enx[i]=Math.floor( Math.random() * (399-ensize) );
                        eny[i]=1;
                        ent[i]=Math.floor( Math.random() * entmax )+1;
                        //レベル30以上なら体力に補正を加える
                        if(lev>=30) ent[i]+=Math.floor((lev-30)/5);
                        break;
                    }
                }
            }
            //敵機を動かす
            for(var i=0;i<enmax;i++){
                if(enx[i]!=-1){
                    eny[i]++;
                }
            }
        }

        //四角×四角の衝突判定
        function atari(x1,y1,w1,h1,x2,y2,w2,h2){
            //中点に補正
            x1+=w1/2;
            y1+=h1/2;
            x2+=w2/2;
            y2+=h2/2;
            //衝突しているなら1を返す
            if(Math.abs(x1-x2) < w1/2 + w2/2 &&
                Math.abs(y1-y2) < h1/2 + h2/2 ){
                return 1;
            }
            return 0;
        }

        //当たり判定処理
        function colmyem(){
            //敵機と自弾
            for(var i=0;i<enmax;i++){
                if(enx[i]!=-1){
                    // for(var j=0;j<msmax;j++){
                    for(var j=0;j<umsmax;j++){
                        // if(msx[j]!=-1){
                        if(umsx[j]!=-1){
                            //当たり判定を行う
                            // if(atari(enx[i],eny[i],ensize,ensize,msx[j],msy[j],mssize,mssize)==1){
                            if(atari(enx[i],eny[i],ensize,ensize,umsx[j],umsy[j],mssize,mssize)==1){
                                // //当たっているので敵機の体力を1減らす
                                // //自弾は消す
                                // ent[i]--;
                                // msx[j]=-1;
                                // msy[j]=-1;
                                //変更 当たっているので敵機の体力を減らす
                                //自弾は消す
                                ent[i]= ent[i] - mydamage;
                                umsx[j]=-1;
                                umsy[j]=-1;
                                if(ent[i]<=0){
                                    //敵機の体力が無くなったら、敵機を消す
                                    ent[i]=-1;
                                    enx[i]=-1;
                                    eny[i]=-1;
                                    //スコアアップ！
                                    sco=sco+upsco;
                                    break;
                                }
                            }
                        }
                    }
                    if(leftatt==1){
                        for(var j=0;j<lmsmax;j++){
                            if(lmsx[j]!=-1){
                                //当たり判定を行う
                                if(atari(enx[i],eny[i],ensize,ensize,lmsx[j],lmsy[j],mssize,mssize)==1){
                                    // //当たっているので敵機の体力を1減らす
                                    // //自弾は消す
                                    // ent[i]--;
                                    // msx[j]=-1;
                                    // msy[j]=-1;
                                    //変更 当たっているので敵機の体力を減らす
                                    //自弾は消す
                                    ent[i]= ent[i] - mydamage;
                                    lmsx[j]=-1;
                                    lmsy[j]=-1;
                                    if(ent[i]<=0){
                                        //敵機の体力が無くなったら、敵機を消す
                                        ent[i]=-1;
                                        enx[i]=-1;
                                        eny[i]=-1;
                                        //スコアアップ！
                                        sco=sco+upsco;
                                        break;
                                    }
                                }
                            }
                        }
                    }
                    if(rightatt==1){
                        for(var j=0;j<rmsmax;j++){
                            if(rmsx[j]!=-1){
                                //当たり判定を行う
                                if(atari(enx[i],eny[i],ensize,ensize,rmsx[j],rmsy[j],mssize,mssize)==1){
                                    // //当たっているので敵機の体力を1減らす
                                    // //自弾は消す
                                    // ent[i]--;
                                    // msx[j]=-1;
                                    // msy[j]=-1;
                                    //変更 当たっているので敵機の体力を減らす
                                    //自弾は消す
                                    ent[i]= ent[i] - mydamage;
                                    rmsx[j]=-1;
                                    rmsy[j]=-1;
                                    if(ent[i]<=0){
                                        //敵機の体力が無くなったら、敵機を消す
                                        ent[i]=-1;
                                        enx[i]=-1;
                                        eny[i]=-1;
                                        //スコアアップ！
                                        sco=sco+upsco;
                                        break;
                                    }
                                }
                            }
                        }
                    }
                    if(downatt==1){
                        for(var j=0;j<dmsmax;j++){
                            if(dmsx[j]!=-1){
                                //当たり判定を行う
                                if(atari(enx[i],eny[i],ensize,ensize,dmsx[j],dmsy[j],mssize,mssize)==1){
                                    // //当たっているので敵機の体力を1減らす
                                    // //自弾は消す
                                    // ent[i]--;
                                    // msx[j]=-1;
                                    // msy[j]=-1;
                                    //変更 当たっているので敵機の体力を減らす
                                    //自弾は消す
                                    ent[i]= ent[i] - mydamage;
                                    dmsx[j]=-1;
                                    dmsy[j]=-1;
                                    if(ent[i]<=0){
                                        //敵機の体力が無くなったら、敵機を消す
                                        ent[i]=-1;
                                        enx[i]=-1;
                                        eny[i]=-1;
                                        //スコアアップ！
                                        sco=sco+upsco;
                                        break;
                                    }
                                }
                            }
                        }
                    }
                    if(uprightatt==1){
                        for(var j=0;j<urmsmax;j++){
                            if(urmsx[j]!=-1){
                                //当たり判定を行う
                                if(atari(enx[i],eny[i],ensize,ensize,urmsx[j],urmsy[j],mssize,mssize)==1){
                                    // //当たっているので敵機の体力を1減らす
                                    // //自弾は消す
                                    // ent[i]--;
                                    // msx[j]=-1;
                                    // msy[j]=-1;
                                    //変更 当たっているので敵機の体力を減らす
                                    //自弾は消す
                                    ent[i]= ent[i] - mydamage;
                                    urmsx[j]=-1;
                                    urmsy[j]=-1;
                                    if(ent[i]<=0){
                                        //敵機の体力が無くなったら、敵機を消す
                                        ent[i]=-1;
                                        enx[i]=-1;
                                        eny[i]=-1;
                                        //スコアアップ！
                                        sco=sco+upsco;
                                        break;
                                    }
                                }
                            }
                        }
                    }
                    if(upleftatt==1){
                        for(var j=0;j<ulmsmax;j++){
                            if(ulmsx[j]!=-1){
                                //当たり判定を行う
                                if(atari(enx[i],eny[i],ensize,ensize,ulmsx[j],ulmsy[j],mssize,mssize)==1){
                                    // //当たっているので敵機の体力を1減らす
                                    // //自弾は消す
                                    // ent[i]--;
                                    // msx[j]=-1;
                                    // msy[j]=-1;
                                    //変更 当たっているので敵機の体力を減らす
                                    //自弾は消す
                                    ent[i]= ent[i] - mydamage;
                                    ulmsx[j]=-1;
                                    ulmsy[j]=-1;
                                    if(ent[i]<=0){
                                        //敵機の体力が無くなったら、敵機を消す
                                        ent[i]=-1;
                                        enx[i]=-1;
                                        eny[i]=-1;
                                        //スコアアップ！
                                        sco=sco+upsco;
                                        break;
                                    }
                                }
                            }
                        }
                    }
                    if(downrightat==1){
                        for(var j=0;j<drmsmax;j++){
                            if(drmsx[j]!=-1){
                                //当たり判定を行う
                                if(atari(enx[i],eny[i],ensize,ensize,drmsx[j],drmsy[j],mssize,mssize)==1){
                                    // //当たっているので敵機の体力を1減らす
                                    // //自弾は消す
                                    // ent[i]--;
                                    // msx[j]=-1;
                                    // msy[j]=-1;
                                    //変更 当たっているので敵機の体力を減らす
                                    //自弾は消す
                                    ent[i]= ent[i] - mydamage;
                                    drmsx[j]=-1;
                                    drmsy[j]=-1;
                                    if(ent[i]<=0){
                                        //敵機の体力が無くなったら、敵機を消す
                                        ent[i]=-1;
                                        enx[i]=-1;
                                        eny[i]=-1;
                                        //スコアアップ！
                                        sco=sco+upsco;
                                        break;
                                    }
                                }
                            }
                        }
                    }
                    if(downleftatt==1){
                        for(var j=0;j<dlmsmax;j++){
                            if(dlmsx[j]!=-1){
                                //当たり判定を行う
                                if(atari(enx[i],eny[i],ensize,ensize,dlmsx[j],dlmsy[j],mssize,mssize)==1){
                                    // //当たっているので敵機の体力を1減らす
                                    // //自弾は消す
                                    // ent[i]--;
                                    // msx[j]=-1;
                                    // msy[j]=-1;
                                    //変更 当たっているので敵機の体力を減らす
                                    //自弾は消す
                                    ent[i]= ent[i] - mydamage;
                                    dlmsx[j]=-1;
                                    dlmsy[j]=-1;
                                    if(ent[i]<=0){
                                        //敵機の体力が無くなったら、敵機を消す
                                        ent[i]=-1;
                                        enx[i]=-1;
                                        eny[i]=-1;
                                        //スコアアップ！
                                        sco=sco+upsco;
                                        break;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //敵機と自機
            for(var i=0;i<enmax;i++){
                if(enx[i]!=-1){
                    //当たり判定を行う
                    if(atari(enx[i],eny[i],ensize,ensize,xx,yy,sizesize,sizesize)==1){
                        // 変更 hpを減らして敵を消す
                        myhp=myhp - enemydamage;
                        ent[i]=-1;
                        enx[i]=-1;
                        eny[i]=-1;
                        // 変更 hp0になったらゲームオーバー
                        if (myhp==0){
                            //ゲームオーバー処理を行う
                            //フラグを1にすることでゲームを止める
                            gameover=1;
                            //リスタートボタン表示
                            document.getElementById('rstart').style.display = "block";
                            mp.ctx.fillStyle = "rgb(255, 0, 255)";
                            mp.ctx.font = "30px 'ＭＳ ゴシック'";
                            //紫色30ptでゲームオーバー表示
                            mp.ctx.fillText("GAME OVER", 20, 120);

                            //コインゲットボタン表示
                            document.getElementById('coinget').style.display = "block";

                            // フォームを取得
                            var form = document.getElementById("scoform");

                            // フォームのinput要素に変数の値を設定
                            document.getElementById("addqty").value = String(sco);

                            // フォーム送信時の処理を設定
                            form.addEventListener("submit", function(event) {
                                event.preventDefault(); // デフォルトのフォーム送信をキャンセル

                                // フォームデータを取得
                                var formData = new FormData(form);

                                // フォームデータを表示（テスト用）
                                for (var pair of formData.entries()) {
                                    console.log(pair[0] + ": " + pair[1]);
                                }

                                // フォームデータを非同期で送信
                                fetch(form.action, {
                                    method: form.method,
                                    body: formData
                                })
                                .then(function(response) {
                                    // レスポンスを処理
                                    return response.text();
                                })
                                .then(function(data) {
                                    console.log(data);
                                })
                                .catch(function(error) {
                                    console.error("エラー: " + error);
                                });
                                // フォームのinput要素に変数の値を設定
                                document.getElementById("addqty").value = "";
                            });
                        }
                    }
                }
            }
        }

        //メインループ処理
        function main(){
            //ゲームオーバーでない限り続ける
            if(gameover==0){
                cnt++;
                mymove();
                draw();
                myshot();
                enmove();
                colmyem();
                //これを入れるとループされる
                requestAnimationFrame( main );
            }
            else{
            }
        }
        //終了処理...かな？
        MainPanel.prototype.finish = function()
        {
        }

    </script>
    </head>
<body class="eeffee" onLoad="ldstart()">
	<h1>Shot_Game</h1>
    <p>{{.message}}</p>
	<canvas id="canvas_e" style="background-color: #ffffff;" width="400" height="300"></canvas><br>
	<button id="start" class="std" onclick="clstart()">ゲーム開始</button>
	<button id="rstart" class="std" onclick="rclstart()">もう一回！</button><br>
	<br>
	矢印キー　上下左右移動<br>
	スペースキー　ショット<br>
	<br>
	水色が自分、赤色が敵だよ。<br>
	敵は体力が低くなると黒くなっていくよ。黒い敵を積極的に倒そう<br>
    スコアによってコインがもらえるよ<br>
    <br>
    GameOverになったら、下のボタンを押してコインを獲得しよう!<br>
    <form id="scoform" action="/app/coin/add" method="POST">
        <p><input type="hidden" id="addqty" name="addqty" value=""></p>
        <p><input type="submit" id="coinget" value="コインゲット"></p>
    </form>
    <p><a href="/app/game/shot/status">ステータス</a></p>
    <p><a href="/app">戻る</a></p>
</body>
</html>
