<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>UserChangePassword</title>
</head>
<body>
    <h1>UserChangePassword</h1>
    <p>{{.message}}</p>
    <p>パスワード変更</p>
    <form action="/setting/changepassword" method="POST">
        <p>現在のパスワード</p>
        <div>
            <input type="password" name="oldpassword" placeholder="oldpassword" autocomplete="off">
        </div>
        <p>新しいパスワード</p>
        <div>
            <input type="password" name="newpassword" placeholder="newpassword" autocomplete="off">
        </div>
        <p>新しいパスワードの確認</p>
        <div>
            <input type="password" name="newcheckpassword" placeholder="newcheckpassword" autocomplete="off">
        </div>
        <p><input type="submit" value="変更"></p>
    </form>
    <p><a href="/app/userpage">戻る</a></p>
</body>
</html>
